{% extends 'base.html.twig'%} 

{% block title %}editer un produit{% endblock %} 

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/commerce.css') }}" type="text/css" />
{% endblock %}


{% block body %} 
    <div id="container">
        <h1>Editer un produit</h1>
         {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="item">{{ form_errors(form) }}</div>
        
        <input type="button" value="annuler" onclick="location='{{path('accueil')}}'"/>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src={{asset('js/editer.js')}}></script>
    <script type="text/javascript" src={{asset('js/AjaxPromise.js')}}></script>
    <script type="text/javascript" src={{asset('js/Ajax.js')}}></script>
    <script>
        const MAX_FILE_SIZE = <?= Upload::maxFileSize() ?>;
    const UPLOAD_ERR_FORM_SIZE = "<?= I18n::get(UPLOAD_ERR_FORM_SIZE) ?>";
const UPLOAD_ERR_WRONG_EMPTY_FILE = "<?= I18n::get('UPLOAD_ERR_WRONG_EMPTY_FILE') ?>";// les quotes sont nécéssaire pour string
        const IMAGE_ERR_WRONG_IMAGE_TYPE = "<?= I18n::get('IMAGE_ERR_WRONG_IMAGE_TYPE') ?>";
        </script>
{% endblock %}



